<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800;900&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/logo48px.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      
    <title>Cosa mangio stasera - {% block title%} {% endblock title %}</title>
</head>
<body>
    
    <h1>Cosa mangio stasera Homepage</h1>

    <script src="{{ url_for('static', filename='app.js')}}"></script>
</body>
</html>