<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800;900&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/logo48px.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      
    <title>Cosa mangio? - {% block title%} {% endblock title %}</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('views.home')}}" class="sideLeft">
            <div class="logo">
                <div class="imgLogo"></div>
            </div>
            <h1>CosaMangio?</h1>
        </a>
        <div class="sideRight">
            <div class="user">
                <div class="imgUser"></div>
            </div>
            <div class="menu">
                <div class="imgMenu"></div>
            </div>
            <div class="containerMenu">
                <div class="frameBlur"></div>
                <div class="contentMenu">
                    <div id="btnCloseMenu" class="BtnClose">
                        <div class="imgClose"></div>
                    </div>
                    <p>Home</p>
                    <p>Ricette</p>
                    <p>Chi siamo</p>
                </div>
            </div>
        </div>
    </header>
    
    {% block content %}
        
    {% endblock %}
    <div class="outerBtnS">
        <div class="btnSearch">
            <a href="{{ url_for('views.search')}}"><div class="imgBtnS"></div></a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js')}}"></script>
    <script src="{{ url_for('static', filename='search.js')}}"></script>
</body>
</html>