
<footer>
    <div class="footer">
        <ul class="socialBtn">
            <li class="btnfb"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="btnyou"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li class="btntw"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <div class="policy">
            <p>© Copyright 2022 CosaMangio&CO
                <p><a href=""><Privacy-Policy>Privacy-Policy</Privacy-Policy></a> - <a href=""><Coockie-Policy>Coockie-Policy</Coockie-Policy></a></p>
            </p>
        </div>
    </div>
</footer>