{% extends 'base.html' %}
{% block title%} Search {% endblock title %}
{% block content %}
    
    <div class="frameBlur"></div>
    <div class="container">
        <div class="contentSearch">
            <a href="{{ prevUrl }}" class="BtnClose">
                <div class="imgClose"></div>
            </a>
            <h2>Cerca...</h2>
            <form action="" method="post">
                {{form.hidden_tag()}}
                <div class="label">
                    {{form.numIngredients.label}}{{form.numIngredients(id_="NumIng")}}
                </div>
                <div class="label">
                    {{form.ingredientOne.label}}{{form.ingredientOne(placeholder_="ingrediente...")}}
                </div>
                <div class="label">
                    {{form.ingredientTwo.label(class_="ing LTwo")}}{{form.ingredientTwo(class_="ing Two", placeholder_="ingrediente...")}}
                </div>
                <div class="label">
                    {{form.ingredientThree.label(class_="ing LThree")}}{{form.ingredientThree(class_="ing Three", placeholder_="ingrediente...")}}
                </div>
                {{form.submit(class_="btnSub")}}
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="message">
                    <p>{{ message }}</p>
                </div>
            {% else %}
                <div class="message error">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}