/* Generic style --------------------------------------------------------------------*/
:root{
    --primary-color: #f00;
    --secondary-color: #FF8A00;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.message{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(26, 219, 71) 0%, rgb(175, 242, 51) 100%);
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    z-index: 1000;
    animation: slideInOut 6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 1s;
    box-shadow: 7px 7px 13px rgba(0, 0, 0, .4);
}
.message.error{
    background: linear-gradient(90deg, rgb(238, 7, 7) 0%, rgb(242, 96, 51) 100%);
}

/* Base.html --------------------------------------------------------------------*/

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(115deg, var(--primary-color), var(--secondary-color));
    padding: 10px 15px;
    z-index: 4;
}
.header .sideLeft,
.header .sideRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .sideLeft .logo,
.header .sideRight .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
}
.header .sideLeft .logo .imgLogo{
    width: 90%;
    height: 90%;
    background: url('images/logo96px.png');
    background-size: cover;
}
.header .sideLeft h1{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-left: 8px;
}
.header .sideRight .user{
    width: 45px;
    margin-right: 15px;
}
.header .sideRight .user .imgUser{
    width: 90%;
    height: 90%;
    background: url('images/user40px.png');
    background-size: cover;
}
.header .sideRight .menu{
    position: relative;
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
}
.header .sideRight .menu .imgMenu{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
    transform: translate(-50%, -50%);
}
.header .sideRight .menu .imgMenu::before,
.header .sideRight .menu .imgMenu::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
    transform: translate(-50%, -50%);
}
.header .sideRight .menu .imgMenu::before{
    transform: translate(-50%, -10px);
}
.header .sideRight .menu .imgMenu::after{
    transform: translate(-50%, 6px);
}
.header .sideRight .containerMenu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.header .sideRight .containerMenu.showMenu{
    opacity: 1;
    pointer-events: all;
    z-index: 4;
}
.header .sideRight .containerMenu.showMenu .contentMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
    z-index: 10;
}
.header .sideRight .containerMenu.showMenu .contentMenu p{
    font-size: large;
    margin: 10px 0;
}
.header .sideRight .containerMenu.showMenu .contentMenu.slideIn{
    animation: slideIn .8s ease-in-out;
}
.header .sideRight .containerMenu.showMenu .contentMenu.slideOut{
    animation: slideOut .8s ease-in-out;
}
#btnCloseMenu{
    cursor: pointer;
}
.outerBtnS{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .4);
    z-index: 3;
}
.btnSearch{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(115deg, var(--primary-color), var(--secondary-color));
    animation: rotate 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
.btnSearch .imgBtnS{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('images/search50px.png')no-repeat center center;
}

/* homepage.html -----------------------------------------------------------------*/

.img{
    width: 100%;
    height: 550px;
}
.immagine{
    width: 100%;
    height: 100%;
    background: url('images/hero.jpg')no-repeat top;
    background-size: cover;
}

/* search.html -----------------------------------------------------------------*/

.frameBlur{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    backdrop-filter: blur(4px);
    z-index: 4;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .4);
    z-index: 10;
    transform: scale(0.7);
    animation: fadeIn 1s ease-in-out forwards;
}
.container .contentSearch{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 90%;
    padding: 10px;
}
.BtnClose{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    aspect-ratio: 1;
}
.BtnClose .imgClose{
    position: relative;
    width: 100%;
    height: 100%;
}
.BtnClose .imgClose::before,
.BtnClose .imgClose::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #f00;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 6px 4px 5px rgba(0, 0, 0, .4);
}
.BtnClose .imgClose::after{
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: -1px 4px 5px rgba(0, 0, 0, .4);
}
.container .contentSearch h2{
    font-weight: 500;
    margin-top: 30px;
}
.container .contentSearch form {
    width: 100%;
    height: 80%;
    border: 1px solid #000;
}
.container .contentSearch form .ing {
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease-in-out;
}
.container .contentSearch form .ing.LTwo.ingShow,
.container .contentSearch form .ing.Two.ingShow,
.container .contentSearch form .ing.LThree.ingShow,
.container .contentSearch form .ing.Three.ingShow {
    opacity: 1;
    pointer-events: all;
}
.container .contentSearch form .btnSub{
    width: 100%;
    height: 30px;
}

/* animations -----------------------------------------------------------------*/

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    40%{
        opacity: 0;
        transform: scale(0.7);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0) scale(1);
    }
    5%{
        transform: rotate(0) scale(1);
    }
    35%{
        transform: rotate(360deg) scale(1.1);
    }
    50%{
        transform: translate(360deg) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

@keyframes slideInOut {
    0%{
        right: -100%;
    }
    20%{
        right: 50%;
        transform: translateX(50%);
    }
    80%{
        right: 50%;
        transform: translateX(50%);
    }
    100%{
        right: -100%;
    }
}

@keyframes slideIn {
    0%{
        right: -100%;
    }
    10%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}

@keyframes slideOut {
    0%{
        right: 0;
    }
    10%{
        right: 0;
    }
    100%{
        right: -100%;
    }
}